{% extends 'accounts/base.html' %}
{% load static %}

{% block body %}
<button><a class="" href="{% url 'catalog' %}">каталог</a></button>
<div class="bas" > 


  {% csrf_token %}
  {{ form.as_p }}
  
  
  <p style="font-size: 32px;"> <b> всего: {{ total_price }} руб </b></p>
  
  {% for x in cart_items %}

  <div class="bassket_product" >
    
    
    

    <div class="basket_left">

      <div class="basket__image">
      
        <img src="{{ x.product.image.url }}" alt="Product Image" />
        
      </div>
      
    </div>

    <div class="basket_right">

      <p> за 1: {{ x.product.price }} руб </p>

      <p> количество: {{ x.quantity }} штук </p>
      
        
        <a href="{% url 'remove_from_cart' x.pk %}"> удалить</a>
        

          
        
      
      
    </div>
  
  
    
    
  </div>
</div>




{% endfor %}

{% endblock %}