
{% extends 'accounts/base.html' %}
{% load static %}

{% block body %}
<div class="" > 

<form method="get">
  {% csrf_token %}
  {{ form.as_p }}


  <input type="checkbox" id="side-checkbox" />
  <div class="side-panel">
      <label class="side-button-2" for="side-checkbox">+</label>    
      <div class="side-title">Вы</div>
      {% if request.user.is_authenticated %}

  <a href="{% url 'logout' %}">Выйти</a>
  <a href="{% url 'basket' %}">Корзина</a>
    {% else %}
    
  <a href="{% url 'login' %}">Войти</a>
  {% endif %}
  </div>
  <div class="side-button-1-wr">
      <label class="side-button-1" for="side-checkbox">
          <div class="side-b side-open">Открыть</div>
          <div class="side-b side-close">Закрыть</div>
      </label>
  </div>
  <div class="basket">
    <a href="{% url 'basket' %}" class="card__image">
      <img src="{% static 'product_image/product_images/korziny.png' %}" alt="Product Image" />
    </a>
  </div>  


  {% for product in products %}
  
    <div class="cards">
        <div class="card_top">
          <a href="{% url 'product_one' product.pk %}" class="card__image">
            <img src="{% static 'product_image/' %}{{ product.image }}" alt="Product Image" />

        </a>

        </div>
        <div class="card_down">
            <p> цена:{{ product.price }} руб</p>
            <a class="" href="{% url 'add_to_cart' product.pk %}"><button class="glow-on-hove" type="submit">добавить в корзину</button></a>
        </div>
    </div>
    <div > 

      
</div>
{% endfor %}
{% endblock %}